
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/client/js/register.js"></script>
}
<section id="login-client" class="py-5">
    <div class="container bg-container p-3">
        <div class="box-login-client">
            <div class="login-box-body">
                <div class="login-box-body-header text-center pb-4">
                    <h4 >
                        Tạo tài khoản
                    </h4>
                </div>
                <form id="form-register">
                    <div class="form-group">
                        <input class="form-control" name="username" type="text" placeholder="Tài khoản">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="email" type="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" type="password" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="rePassword" type="password" placeholder="Xác thực Mật khẩu">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn-register btn btn-primary btn-lg btn-block">Đăng ký</button>
                    </div>
                </form>
                <p class="text-center text-white">
                    - HOẶC -
                </p>
                        <div class=" text-center btn btn-primary py-0 px-3 d-flex justify-content-center align-items-center w-50 mx-auto">
                            <span><i class="fab fa-facebook-f"></i></span>   <a href="#" class="btn ">Login FB</a>
                        </div>
                       
            </div>
        </div>
    </div>
</section>