
@model ShopGame.Service.Model.ShopGameResultModel<ShopGame.Service.Model.ViewModel.SliderViewModel>
@{
    var data = Model.Results;
    var pageSize = Model.PageSize;
    var pageNumber = Model.PageNumber;
    var pageCount = Model.PageCount;
}
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 p-1">
                <div class="slider-form">
                    <div class="slider-header">
                        <p>NẠP THẺ</p>
                    </div>
                    <div>
                        <form class="form-input">
                            <div class="form-group">
                                <select class="form-control c-square c-theme" name="NCCId" id="NCC">
                            
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control c-square c-theme" name="ValueId" id="GiaTriThe"
                                        required="">
                                   
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="Code" placeholder="Mã số thẻ">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="Seri" placeholder="Số Serial">
                            </div>
                            <div class="form-group">
                                <button type="button" class="w-100 n-button btn-charge">NẠP THẺ</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <div class="col-lg-8 pt-1">
                <div class="slider-banner">
                    <div class="banner-regular slider w-100">
                        @foreach (var item in data)
                        {
                            <div>
                                <a href="@item.Link"><img class="w-100" src="@item.Image"></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>