create database [ShopGame]
go

USE [ShopGame]
GO

/****** Object:  UserDefinedTableType [dbo].[BaseParamType]    Script Date: 17/12/2021 15:07:14 ******/
CREATE TYPE [dbo].[BaseParamType] AS TABLE(
	[Search] [nvarchar](max) NULL,
	[PageSize] [int] NULL,
	[PageNumber] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ProductImages]    Script Date: 17/12/2021 15:07:14 ******/
CREATE TYPE [dbo].[ProductImages] AS TABLE(
	[Id] [int] NULL,
	[ProductId] [int] NULL,
	[Image] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Account]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[HashedPassword] [nvarchar](255) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[BlogTypeId] [int] NULL,
	[Image] [nvarchar](500) NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogType]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogType](
	[BlogTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_BlogType] PRIMARY KEY CLUSTERED 
(
	[BlogTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardAdmin]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardAdmin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](255) NULL,
	[CardType] [nvarchar](255) NULL,
	[CardHolder] [nvarchar](255) NULL,
	[CardBranch] [nvarchar](255) NULL,
	[BankName] [nvarchar](255) NULL,
 CONSTRAINT [PK_CardAdmin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCode]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Code] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_DiscountCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTriThe]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTriThe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Value] [decimal](18, 0) NULL,
	[Percent] [decimal](18, 0) NULL,
 CONSTRAINT [PK_GiaTriThe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterData]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_MasterData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayOrder] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
	[Link] [nvarchar](255) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NaptheTransaction]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NaptheTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NCCId] [int] NULL,
	[GiaTriTheId] [int] NULL,
	[MaThe] [nvarchar](255) NULL,
	[Serial] [nvarchar](255) NULL,
	[ThucNhan] [decimal](18, 0) NULL,
	[KieuNap] [nvarchar](255) NULL,
	[UserId] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[OutIn] [int] NULL,
 CONSTRAINT [PK_NaptheTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Code] [nvarchar](255) NULL,
	[Metatitle] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[CategoryId] [int] NULL,
	[Detail] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[MetaDescription] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[OrderNo] [int] NULL,
	[Rank] [nvarchar](255) NULL,
	[SoTuong] [nvarchar](255) NULL,
	[SoTrangPhuc] [nvarchar](255) NULL,
	[LoaiTaiKhoan] [nvarchar](255) NULL,
	[NoiBat] [nvarchar](255) NULL,
	[DangKy] [nvarchar](255) NULL,
	[VIP] [nvarchar](255) NULL,
	[Top] [int] NULL,
	[AccUserName] [nvarchar](255) NOT NULL,
	[AccPassword] [nvarchar](255) NOT NULL,
	[IsBuyed] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPrice]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPrice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ProductPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTransaction]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductType] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[IdGame] [nvarchar](255) NULL,
	[AccUserName] [nvarchar](255) NULL,
	[AccPassword] [nvarchar](255) NULL,
	[Price] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NULL,
	[UserId] [int] NULL,
	[EndBalance] [decimal](18, 0) NULL,
	[Content] [nvarchar](255) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ProductTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skin]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](500) NULL,
	[SkinCategoryId] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Skin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkinCategory]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[SkinsSold] [int] NULL,
 CONSTRAINT [PK_SkinCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkinPrice]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinPrice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](18, 0) NULL,
	[SkinId] [int] NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](255) NULL,
	[DisplayOrder] [int] NULL,
	[Link] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpinLuck]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpinLuck](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[SpinLuckTypeId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Image] [nvarchar](500) NULL,
 CONSTRAINT [PK_SpinLuck] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpinLuckType]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpinLuckType](
	[SpinLuckTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_SpinLuckType] PRIMARY KEY CLUSTERED 
(
	[SpinLuckTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Step]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Step](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Step] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GiaoDich] [nvarchar](255) NULL,
	[SoTien] [decimal](18, 0) NULL,
	[SoDu] [decimal](18, 0) NULL,
	[Content] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[Serial] [nvarchar](255) NULL,
	[LoaiThe] [nvarchar](255) NULL,
	[KieuNap] [nvarchar](255) NULL,
	[MaThe] [nvarchar](255) NULL,
	[TransactionCategoryTypeId] [int] NULL,
	[UserId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[NhaMang] [nvarchar](255) NULL,
	[Game] [nvarchar](255) NULL,
	[AccUserName] [nvarchar](255) NULL,
	[AccPassword] [nvarchar](255) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionCategoryType]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionCategoryType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_TransactionCategoryType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[HashedPassword] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Balance] [decimal](18, 0) NULL,
	[Phone] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserItem]    Script Date: 17/12/2021 15:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[MaThe] [nvarchar](255) NULL,
	[LoaiThe] [nvarchar](255) NULL,
	[KieuNap] [nvarchar](255) NULL,
	[CanNguyen] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [UserName], [HashedPassword]) VALUES (1004, N'Thanhninh1st', N'9izQ0R2Z4k5UbahrWv8fHA==')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([Id], [Name], [MetaTitle], [Description], [CreatedDate], [BlogTypeId], [Image]) VALUES (6, N'chung', N'', N'', CAST(N'2021-08-13T12:31:34.260' AS DateTime), 2, N'')
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogType] ON 

INSERT [dbo].[BlogType] ([BlogTypeId], [Name]) VALUES (2, N'Hướng dẫn')
INSERT [dbo].[BlogType] ([BlogTypeId], [Name]) VALUES (3, N'Tin game')
SET IDENTITY_INSERT [dbo].[BlogType] OFF
GO
SET IDENTITY_INSERT [dbo].[CardAdmin] ON 

INSERT [dbo].[CardAdmin] ([Id], [CardNumber], [CardType], [CardHolder], [CardBranch], [BankName]) VALUES (2, N'0491000161234', N'1', N'Hồ Long nhật', N'Hà Nội', N'VPbank')
INSERT [dbo].[CardAdmin] ([Id], [CardNumber], [CardType], [CardHolder], [CardBranch], [BankName]) VALUES (3, N'1507205852938', N'1', N'Ho long nhat', N'Hà Nội', N'Vietconbank')
INSERT [dbo].[CardAdmin] ([Id], [CardNumber], [CardType], [CardHolder], [CardBranch], [BankName]) VALUES (4, N'nhat123', N'2', N'nhat123', NULL, N'Tsr (thesieure .com)')
SET IDENTITY_INSERT [dbo].[CardAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaTriThe] ON 

INSERT [dbo].[GiaTriThe] ([Id], [Name], [Value], [Percent]) VALUES (1, N'Mười nghìn ', CAST(10000 AS Decimal(18, 0)), CAST(70 AS Decimal(18, 0)))
INSERT [dbo].[GiaTriThe] ([Id], [Name], [Value], [Percent]) VALUES (2, NULL, CAST(20000 AS Decimal(18, 0)), CAST(70 AS Decimal(18, 0)))
INSERT [dbo].[GiaTriThe] ([Id], [Name], [Value], [Percent]) VALUES (3, NULL, CAST(30000 AS Decimal(18, 0)), CAST(70 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[GiaTriThe] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterData] ON 

INSERT [dbo].[MasterData] ([Id], [Code], [Name], [Value]) VALUES (3, NULL, N'Số điện thoại', N'0359345952')
INSERT [dbo].[MasterData] ([Id], [Code], [Name], [Value]) VALUES (4, N'Image', N'Logo', N'/Admin/Content/Upload/120210903220403logo.png')
SET IDENTITY_INSERT [dbo].[MasterData] OFF
GO
SET IDENTITY_INSERT [dbo].[NaptheTransaction] ON 

INSERT [dbo].[NaptheTransaction] ([Id], [NCCId], [GiaTriTheId], [MaThe], [Serial], [ThucNhan], [KieuNap], [UserId], [CreatedDate], [Status], [OutIn]) VALUES (1, 1, 1, N'523416541', N'354651324', CAST(0 AS Decimal(18, 0)), N'Nạp tự động', N'1', CAST(N'2021-08-21T10:52:33.587' AS DateTime), 1, 1)
INSERT [dbo].[NaptheTransaction] ([Id], [NCCId], [GiaTriTheId], [MaThe], [Serial], [ThucNhan], [KieuNap], [UserId], [CreatedDate], [Status], [OutIn]) VALUES (2, 3, 2, N'3242234234234', N'234234234234', NULL, NULL, N'15', CAST(N'2021-08-23T21:38:04.070' AS DateTime), 0, 1)
INSERT [dbo].[NaptheTransaction] ([Id], [NCCId], [GiaTriTheId], [MaThe], [Serial], [ThucNhan], [KieuNap], [UserId], [CreatedDate], [Status], [OutIn]) VALUES (3, 1, 1, N'123123', N'123123', NULL, NULL, N'15', CAST(N'2021-08-23T21:47:38.803' AS DateTime), 0, 1)
GO
SET IDENTITY_INSERT [dbo].[NaptheTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[NCC] ON 

INSERT [dbo].[NCC] ([Id], [Name]) VALUES (1, N'VIETTEL')
INSERT [dbo].[NCC] ([Id], [Name]) VALUES (2, N'VINAPHONE')
INSERT [dbo].[NCC] ([Id], [Name]) VALUES (3, N'MOBIFONE')
SET IDENTITY_INSERT [dbo].[NCC] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Code], [Metatitle], [Description], [Image], [CategoryId], [Detail], [CreatedDate], [MetaDescription], [Status], [OrderNo], [Rank], [SoTuong], [SoTrangPhuc], [LoaiTaiKhoan], [NoiBat], [DangKy], [VIP], [Top], [AccUserName], [AccPassword], [IsBuyed]) VALUES (1, N'sản phẩm 1', N'', N'1', N'1', N'/client/images/toc-chien-1.jpg', 2, N'<p>123</p>
', CAST(N'2021-08-13T12:36:31.773' AS DateTime), N'1', 0, 1, N'vàng', N'100', N'1', N'garena', N'123', N'123', N'123', 1, N'acc123456', N'123456', NULL)
INSERT [dbo].[Product] ([Id], [Name], [Code], [Metatitle], [Description], [Image], [CategoryId], [Detail], [CreatedDate], [MetaDescription], [Status], [OrderNo], [Rank], [SoTuong], [SoTrangPhuc], [LoaiTaiKhoan], [NoiBat], [DangKy], [VIP], [Top], [AccUserName], [AccPassword], [IsBuyed]) VALUES (2, N'1', N'', N'', N'1', N'/client/images/toc-chien-1.jpg', 2, N'', CAST(N'2021-08-13T12:36:43.430' AS DateTime), N'', 0, 2, N'1', N'', N'', N'1', N'', N'1', N'', 0, N'1', N'1', NULL)
INSERT [dbo].[Product] ([Id], [Name], [Code], [Metatitle], [Description], [Image], [CategoryId], [Detail], [CreatedDate], [MetaDescription], [Status], [OrderNo], [Rank], [SoTuong], [SoTrangPhuc], [LoaiTaiKhoan], [NoiBat], [DangKy], [VIP], [Top], [AccUserName], [AccPassword], [IsBuyed]) VALUES (3, N'3', N'code3', N'1', N'123', N'/client/images/toc-chien-1.jpg', 1, N'<p>1</p>
', CAST(N'2021-08-13T12:37:06.663' AS DateTime), N'', 0, 1, N'1', N'1', N'1', N'1', N'1', N'1', N'1', 0, N'1', N'1', NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([Id], [Name], [Image], [Description]) VALUES (1, N'CF', N'/client/images/productType.gif', N'game đột kích')
INSERT [dbo].[ProductCategory] ([Id], [Name], [Image], [Description]) VALUES (2, N'Liên Minh Tốc Chiến', N'/client/images/productType-2.gif', N'Liên Minh Huyền Thoại: Tốc Chiến hay rút gọn lại là Liên Minh: Tốc Chiến là một trò chơi điện tử moba
                5vs5 đấu trường trận chiến trực tuyến nhiều người chơi đã được ra mắt được phát triển và phát hành
                bởi Riot Games cho Android, iOS và máy chơi game cầm tay. Trò chơi là phiên bản di động của Liên
                Minh Huyền Thoại. Ở Việt Nam LMHT Tốc Chiến được phát hành bởi Vinagame.')
INSERT [dbo].[ProductCategory] ([Id], [Name], [Image], [Description]) VALUES (3, N'ádmmm', N'/client/images/productType.gif', N'ấdasd')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([Id], [Image], [ProductId]) VALUES (10, N'/Admin/Content/Upload/120210812001033Screenshot (2).png', 0)
INSERT [dbo].[ProductImage] ([Id], [Image], [ProductId]) VALUES (11, N'/Admin/Content/Upload/120210812001033Screenshot (3).png', 0)
INSERT [dbo].[ProductImage] ([Id], [Image], [ProductId]) VALUES (12, N'/Admin/Content/Upload/120210812001033Screenshot (4).png', 0)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductPrice] ON 

INSERT [dbo].[ProductPrice] ([Id], [ProductId], [Name], [CreatedDate], [Price]) VALUES (1, 5, N'786', CAST(N'2021-08-14T00:03:54.577' AS DateTime), CAST(1123 AS Decimal(18, 0)))
INSERT [dbo].[ProductPrice] ([Id], [ProductId], [Name], [CreatedDate], [Price]) VALUES (2, 1, N'78', CAST(N'2021-08-15T14:37:50.857' AS DateTime), CAST(6546 AS Decimal(18, 0)))
INSERT [dbo].[ProductPrice] ([Id], [ProductId], [Name], [CreatedDate], [Price]) VALUES (3, 1, N'786786', CAST(N'2021-08-16T10:55:15.540' AS DateTime), CAST(7000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ProductPrice] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTransaction] ON 

INSERT [dbo].[ProductTransaction] ([Id], [ProductType], [Name], [IdGame], [AccUserName], [AccPassword], [Price], [CreatedDate], [UserId], [EndBalance], [Content], [Status]) VALUES (1, 0, N'4231', NULL, N'taikhoan1', N'matkhau1', CAST(20000 AS Decimal(18, 0)), CAST(N'2021-08-21T10:47:51.570' AS DateTime), 1, CAST(10000 AS Decimal(18, 0)), N'vừa mua xong', 1)
INSERT [dbo].[ProductTransaction] ([Id], [ProductType], [Name], [IdGame], [AccUserName], [AccPassword], [Price], [CreatedDate], [UserId], [EndBalance], [Content], [Status]) VALUES (3, 0, N'456', NULL, N'taikhoan1', N'matkhau1', CAST(20000 AS Decimal(18, 0)), CAST(N'2021-08-22T10:47:51.570' AS DateTime), 1, CAST(10000 AS Decimal(18, 0)), N'vừa mua xong', 1)
INSERT [dbo].[ProductTransaction] ([Id], [ProductType], [Name], [IdGame], [AccUserName], [AccPassword], [Price], [CreatedDate], [UserId], [EndBalance], [Content], [Status]) VALUES (4, 1, N'ekko', NULL, NULL, NULL, CAST(30000 AS Decimal(18, 0)), CAST(N'2021-08-21T00:00:00.000' AS DateTime), 1, CAST(10000 AS Decimal(18, 0)), N'vừa mua xong', 0)
SET IDENTITY_INSERT [dbo].[ProductTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Skin] ON 

INSERT [dbo].[Skin] ([Id], [Name], [Image], [SkinCategoryId], [CreatedDate]) VALUES (2, N'Ekko', N'/client/images/skin/diana.png', 1, CAST(N'2021-08-13T17:40:43.820' AS DateTime))
INSERT [dbo].[Skin] ([Id], [Name], [Image], [SkinCategoryId], [CreatedDate]) VALUES (3, N'Dianaâ', N'/client/images/skin/diana.png', 1, CAST(N'2021-08-16T09:56:47.750' AS DateTime))
INSERT [dbo].[Skin] ([Id], [Name], [Image], [SkinCategoryId], [CreatedDate]) VALUES (4, N'Arhi', N'/client/images/skin/diana.png', 1, CAST(N'2021-08-16T09:57:31.373' AS DateTime))
SET IDENTITY_INSERT [dbo].[Skin] OFF
GO
SET IDENTITY_INSERT [dbo].[SkinCategory] ON 

INSERT [dbo].[SkinCategory] ([Id], [Name], [Image], [Description], [SkinsSold]) VALUES (1, N'Mua Tướng Tốc Chiến', N'/client/images/list-services.jpg', N'test', 132)
INSERT [dbo].[SkinCategory] ([Id], [Name], [Image], [Description], [SkinsSold]) VALUES (2, N'Mua Skin Tốc Chiến', N'/client/images/list-services.jpg', N'mô tả  1231123', 123123)
SET IDENTITY_INSERT [dbo].[SkinCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[SkinPrice] ON 

INSERT [dbo].[SkinPrice] ([Id], [Price], [SkinId], [CreatedDate]) VALUES (3, CAST(10000 AS Decimal(18, 0)), 1, CAST(N'2021-08-16T10:01:07.250' AS DateTime))
INSERT [dbo].[SkinPrice] ([Id], [Price], [SkinId], [CreatedDate]) VALUES (4, CAST(20000 AS Decimal(18, 0)), 2, CAST(N'2021-08-16T10:01:13.970' AS DateTime))
INSERT [dbo].[SkinPrice] ([Id], [Price], [SkinId], [CreatedDate]) VALUES (5, CAST(30000 AS Decimal(18, 0)), 3, CAST(N'2021-08-16T10:01:26.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[SkinPrice] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([Id], [Image], [DisplayOrder], [Link], [Description], [CreatedDate], [Status]) VALUES (3, N'/client/images/slider1.gif', 1, N'/buycard', N'mo-ta', CAST(N'2021-08-12T21:38:40.077' AS DateTime), 1)
INSERT [dbo].[Slide] ([Id], [Image], [DisplayOrder], [Link], [Description], [CreatedDate], [Status]) VALUES (4, N'/client/images/slider2.jpg', 3, N'/napthe', NULL, CAST(N'2021-08-12T21:39:07.627' AS DateTime), 1)
INSERT [dbo].[Slide] ([Id], [Image], [DisplayOrder], [Link], [Description], [CreatedDate], [Status]) VALUES (5, N'/client/images/slider3.jpg', 2, N'/napthe', NULL, CAST(N'2021-08-12T21:39:23.513' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[Step] ON 

INSERT [dbo].[Step] ([Id], [Content], [Status]) VALUES (2, N'<p><span style="color:red">Bước 1 </span> : Kết bạn với nick :</p>

<p><span style="color:red">Bước 2</span> : Chờ trả tướng từ 24-48h ( t&ugrave;y v&agrave;o số thứ tự mua v&agrave; quy định tặng qu&agrave; đủ 24h kết bạn trong game )</p>

<p>( Lưu &yacute; : <span style="color:red">nick người mua skin - tướng phải tr&ecirc;n lv15 v&agrave; bắt buộc phải kết bạn với tất cả những nick tr&ecirc;n </span>)</p>
', 0)
SET IDENTITY_INSERT [dbo].[Step] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([Id], [GiaoDich], [SoTien], [SoDu], [Content], [Status], [Serial], [LoaiThe], [KieuNap], [MaThe], [TransactionCategoryTypeId], [UserId], [CreatedDate], [NhaMang], [Game], [AccUserName], [AccPassword]) VALUES (1, N'Nạp thẻ tự động', CAST(20000 AS Decimal(18, 0)), CAST(100000 AS Decimal(18, 0)), N'bán kìa', N'1', N'013456', N'012345640656', NULL, NULL, 3, 1, CAST(N'2021-08-17T23:29:24.680' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionCategoryType] ON 

INSERT [dbo].[TransactionCategoryType] ([Id], [Name]) VALUES (3, N'Nạp thẻ tự động')
INSERT [dbo].[TransactionCategoryType] ([Id], [Name]) VALUES (4, N'Lịch sử nạp thẻ')
INSERT [dbo].[TransactionCategoryType] ([Id], [Name]) VALUES (5, N'Tài khoản đã mua')
SET IDENTITY_INSERT [dbo].[TransactionCategoryType] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [HashedPassword], [Name], [Email], [Balance], [Phone], [CreatedDate]) VALUES (1, N'cuty1163', N'Jc48xDJ3HD0=', N'Nhat Ho 1', N'holong@gmail.com', CAST(822827 AS Decimal(18, 0)), N'0866721300', CAST(N'2021-10-21T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [UserName], [HashedPassword], [Name], [Email], [Balance], [Phone], [CreatedDate]) VALUES (2, N'admin123', N'Jc48xDJ3HD0=', N'13', N'132', CAST(268847 AS Decimal(18, 0)), N'0866721101', CAST(N'2021-10-21T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [UserName], [HashedPassword], [Name], [Email], [Balance], [Phone], [CreatedDate]) VALUES (7, N'admin12', N'Jc48xDJ3HD0=', N'nhat', N'0866721300', CAST(0 AS Decimal(18, 0)), N'0866721300', CAST(N'2021-08-19T21:46:39.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Blog] ADD  CONSTRAINT [DF_Blog_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[NaptheTransaction] ADD  CONSTRAINT [DF_NaptheTransaction_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductPrice] ADD  CONSTRAINT [DF_ProductPrice_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductTransaction] ADD  CONSTRAINT [DF_ProductTransaction_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Skin] ADD  CONSTRAINT [DF_Skin_Createdate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SkinPrice] ADD  CONSTRAINT [DF_SkinPrice_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Slide] ADD  CONSTRAINT [DF_Slide_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Transaction] ADD  CONSTRAINT [DF_Transaction_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[callback_transaction]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[callback_transaction]
@requestId int,
@status int,
@amount int
as
begin
	update NaptheTransaction
	set [Status] = @status
	where @requestId = Id

	declare @UserId int
	select @UserId = UserId from NaptheTransaction
	where Id = @requestId

	if(@status=1)
	begin
		update NaptheTransaction
		set ThucNhan = iif(@amount is null,0,@amount)*0.7
		where @requestId = Id

		update [User]
		set Balance = Balance + iif(@amount is null,0,@amount)*0.7
		where Id = @UserId
	end
	select @@ROWCOUNT
end
GO
/****** Object:  StoredProcedure [dbo].[forgot_password]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[forgot_password]
@email nvarchar(255),
@newPass nvarchar(255)
as
begin
	if exists (select top 1 * from [User] where Email = @email)
	begin
		update [User]
		set HashedPassword = @newPass
		where Email = @email
	end
	select @@ROWCOUNT
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_buy_account]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_buy_account]
@Id int,
@UserId int
as
begin
	declare @Balance decimal(18,0)
	declare @Price decimal(18,0)
	declare @Account nvarchar(255)
	declare @Pass nvarchar(255)

	select @Balance = Balance from [User]
	where Id = @UserId

	select top 1 @Price = Price from ProductPrice
	where ProductId = @Id
	order by Id desc

	if(@Balance > @Price)
		begin

			if exists (select * from Product where Id = @Id and Status = 1)
			begin

				select @Account = AccUserName,@Pass = AccPassword from Product
				where Id = @Id
				
				insert into ProductTransaction (ProductType,AccUserName,AccPassword,Price,CreatedDate,UserId,EndBalance,Content,Status)
				values (0,@Account,@Pass,@Price,GETDATE(),@UserId,@Balance-@Price,'',1)

				update [User]
				set Balance = @Balance - @Price
				where Id = @UserId

				update Product
				set Status = 0
				where Id = @Id

				select 1  -- thành công
			end
			
			else
			begin
				select 2  -- đã có người mua
			end
		end
	else
		begin
			select 0; -- tiền không đủ
		end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_buy_skin]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_buy_skin]
@Id int,
@UserId int,
@Name nvarchar(255)
as
begin
	declare @Balance decimal(18,0)
	declare @Price decimal(18,0)
	declare @NameSkin nvarchar(255)

	select @Balance = Balance from [User]
	where Id = @UserId

	select top 1 @Price = Price from SkinPrice
	where SkinId = @Id
	order by Id desc

	if(@Balance > @Price)
		begin

			if exists (select * from Skin where Id = @Id)
			begin

				select @NameSkin = Name from Skin
				where Id = @Id
				
				insert into ProductTransaction (ProductType,IdGame,Name,Price,CreatedDate,UserId,EndBalance,Content,Status)
				values (1,@Name,@NameSkin,@Price,GETDATE(),@UserId,@Balance-@Price,'',0)

				update [User]
				set Balance = @Balance - @Price
				where Id = @UserId

				select 1  -- thành công
			end
			
			else
			begin
				select 2  -- không tồn tại
			end
		end
	else
		begin
			select 0; -- tiền không đủ
		end
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_client_user_login]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_client_user_login]
@UserName nvarchar(255),
@HashedPassword nvarchar(255)
as
begin
	select * from  [dbo].[User]
	where UserName = @UserName and HashedPassword = @HashedPassword
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_blog]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_blog]
@Id int,
@Name nvarchar(500),
@Image nvarchar(500),
@MetaTitle nvarchar(500),
@Description nvarchar(500),
@BlogTypeId int
as
begin
 if @Id = 0
	begin
		insert into Blog(Name,MetaTitle,Description,BlogTypeId,CreatedDate,Image) values (@Name,@MetaTitle,@Description,@BlogTypeId,GETDATE(),@Image)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update Blog
		set Name = @Name,
		MetaTitle =@MetaTitle,
		Description = @Description,
		BlogTypeId = @BlogTypeId,
		Image = @Image
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_blogtype]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[shopgame_create_blogtype]
@Id int,
@Name nvarchar(500)
as
begin
 if @Id = 0
	begin
		insert into BlogType(Name) values (@Name)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update BlogType
		set Name = @Name
		where BlogTypeId = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_cardadmin]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_cardadmin]
@Id int,
@CardNumber nvarchar(255),
@CardType nvarchar(255),
@CardHolder nvarchar(255),
@CardBranch nvarchar(255),
@BankName nvarchar(255)
as
begin
 if @Id = 0
	begin
		insert into CardAdmin(CardNumber,CardType,CardHolder,CardBranch,BankName) values (@CardNumber,@CardType,@CardHolder,@CardBranch,@BankName)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update CardAdmin
		set CardNumber = @CardNumber,
			CardType = @CardType,
			CardHolder = @CardHolder,
			CardBranch = @CardBranch,
			BankName = @BankName
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_login]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_login]
@Id int,
@UserName nvarchar(255),
@HashedPassword nvarchar(255)
as
begin
	if @Id = 0
		begin
			if not exists (select * from Account where UserName = @UserName)
				begin
					insert into Account values (@UserName,@HashedPassword)
					select 1
				end
			else
				begin
					select 0
				end
		end
	else
		begin
			if not exists (select * from Account where UserName = @UserName and @Id = Id)
				begin
					update  Account
					set UserName = @UserName,
						HashedPassword = @HashedPassword
						where Id = @Id
						select 1
				end
			else
				begin
					select 0
				end
		end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_masterdata]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_masterdata]
@Id int,
@Code nvarchar(255),
@Name nvarchar(255),
@Value nvarchar(Max)
as
begin
 if @Id = 0
	begin
	
		select 0
	end

 else
	begin
	    update MasterData
		set Code = @Code,
			Name = @Name,
			Value = @Value
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_notification]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_create_notification]
@Id int,
@Content nvarchar(500),
@Image nvarchar(500),
@Status bit
as
begin
 if @Id = 0
	begin
		insert into Notification(Content,Image,Status) values (@Content,@Image,@Status)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update Notification
		set Content = @Content,
			Image = @Image,
			Status = @Status
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_or_update_client_login]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_or_update_client_login]
@Id int,
@UserName nvarchar(255),
@HashedPassword nvarchar(255),
@Name nvarchar(255),
@Email nvarchar(255),
@Balance decimal(18,0),
@Phone nvarchar(255)

as
begin
	if @Id = 0
		begin
			if not exists (select * from [dbo].[User] where UserName = @UserName or Email = @Email or Phone = @Phone)
				begin
					insert into [dbo].[User] values (@UserName,
					@HashedPassword,
					@Name,
					@Email,
					@Balance,
					@Phone,
					GETDATE())
					select 1
				end
			else
				begin
					select 0
				end
		end
	else
		begin
			if exists (select * from [dbo].[User] where UserName = @UserName and Id =@Id)
				begin
				print(N'ok')
					update  [dbo].[User]
					set 
						HashedPassword = @HashedPassword,
						[Name] = @Name ,
						Email = @Email ,
						Balance = @Balance ,
						Phone = @Phone 
						where Id = @Id
						select 1
				end
			else
				begin
				print(N'notke')
					select 0
				end
		end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_or_update_GiaTriThe]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_or_update_GiaTriThe]
@Id int,
@Name nvarchar(255),
@Value decimal(18,0),
@Percent decimal(18,0)
as
begin
 if @Id = 0
	begin
		insert into [dbo].[GiaTriThe]([Name],[Value],[Percent]) values (@Name,@Value,@Percent)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update [dbo].[GiaTriThe]
		set Name = @Name,
			[Value] = @Value,
			[Percent] = @Percent
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_or_update_NCC]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_create_or_update_NCC]
@Id int,
@Name nvarchar(255)
as
begin
 if @Id = 0
	begin
		insert into NCC([Name]) values (@Name)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update NCC
		set Name = @Name
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_product]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_product]
@Id int,
@Code nvarchar(255),
@Name nvarchar(255),
@Description nvarchar(max),
@Image nvarchar(500),
@CategoryId int,
@Detail nvarchar(max),
@OrderNo int,
@Rank nvarchar(255),
@SoTuong nvarchar(255),
@SoTrangPhuc nvarchar(255),
@LoaiTaiKhoan nvarchar(255),
@NoiBat nvarchar(255),
@DangKy nvarchar(255),
@VIP nvarchar(255),
@Top int,
@AccUserName nvarchar(255),
@AccPassword nvarchar(255),
@MetaTitle nvarchar(255),
@MetaDescription nvarchar(255),
@Status bit,
@ProductImage ProductImages readonly,
@Price decimal(18,2)
as
begin
	if @Id = 0
		begin
			insert into Product (Code,Name,Description,[Image],CategoryId,Detail,OrderNo,Rank,SoTuong,SoTrangPhuc,LoaiTaiKhoan,NoiBat,DangKy,VIP,[Top],AccUserName,AccPassword,Metatitle,MetaDescription,Status)
			values (@Code,@Name,@Description,@Image,@CategoryId,@Detail,@OrderNo,@Rank,@SoTuong,@SoTrangPhuc,@LoaiTaiKhoan,@NoiBat,@DangKy,@VIP,@Top,@AccUserName,@AccPassword,@MetaTitle,@MetaDescription,@Status)

			declare @IdNew int
			select top 1 @IdNew = Id from Product order by Id desc

			insert into ProductImage(ProductId,Image) 
			select @IdNew,Image from @ProductImage

			insert into ProductPrice values(@IdNew,'',GETDATE(),@Price)
		end
	else
		begin
			Update Product
			set Code = @Code,
				Name = @Name,
				Description = @Description,
				Image = @Image,
				CategoryId = @CategoryId,
				Detail = @Detail,
				OrderNo = @OrderNo,
				[Rank] = @Rank,
				SoTuong = @SoTuong,
				SoTrangPhuc = @SoTrangPhuc,
				LoaiTaiKhoan = @LoaiTaiKhoan,
				NoiBat = @NoiBat,
				DangKy = @DangKy,
				VIP = @VIP,
				[Top] = @Top,
				AccUserName = @AccUserName,
				AccPassword = @AccPassword,
				Metatitle = @MetaTitle,
				MetaDescription = @MetaDescription,
				[Status] = @Status
			where Id = @Id

			delete ProductIMage where ProductId = @Id
			insert into ProductImage(ProductId,Image) 
			select @Id,Image from @ProductImage

			-- update price
			declare @currentPrice decimal(18,0) = 0
			select top 1 @currentPrice = Price from ProductPrice where ProductId = @Id order by Id desc
			if(@currentPrice = 0 or @currentPrice != @price)
			begin
				insert into ProductPrice values(@IdNew,'',GETDATE(),@Price)
			end
		end

		--select IIF(@@ROWCOUNT>0,1,0)
		select 1

end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_productcategory]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_productcategory]
@Id int,
@Name nvarchar(500),
@Image nvarchar(500),
@Description nvarchar(500)
as
begin
 if @Id = 0
	begin
		insert into ProductCategory(Name,Image,Description) values (@Name,@Image,@Description)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update ProductCategory
		set Name = @Name,
			Image = @Image,
			Description = @Description
			where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_ProductTransaction]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_ProductTransaction]
@Id int,
@ProductType int,
@Name nvarchar(255),
@AccUserName nvarchar(255),
@AccPassword nvarchar(255),
@Price decimal(18,0),
@UserId int,
@EndBalance decimal(18,0),
@Content nvarchar(255),
@Status int
as
begin
 if @Id = 0
	begin
		insert into ProductTransaction(ProductType,Name,AccUserName,AccPassword,Price,UserId,EndBalance,Content,Status) 
		values (@ProductType,@Name,@AccUserName,@AccPassword,@Price,@UserId,@EndBalance,@Content,@Status)
		select iif(@@ROWCOUNT>0,1,0)
	end
 else
	begin
	    update ProductTransaction
		set ProductType = @ProductType,
			Name = @Name,
			AccUserName = @AccUserName,
			AccPassword = @AccPassword,
			Price = @Price,
			UserId = @UserId,
			EndBalance = @EndBalance,
			Content = @Content,
			Status = @Status
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_skin]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_skin]
@Id int,
@Name nvarchar(500),
@Image nvarchar(500),
@SkinCategoryId int,
@Price decimal(18,2)
as
begin
 if @Id = 0
	begin
		insert into Skin(Name,Image,SkinCategoryId) values (@Name,@Image,@SkinCategoryId)
		insert SkinPrice(SkinId,Price,CreatedDate) select Id,@Price,GETDATE() from Skin Order by Id desc
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update Skin
		set Name = @Name,
		Image = @Image,
		SkinCategoryId = @SkinCategoryId
		where Id = @Id

		declare @CurrentPrice decimal(18,0) = 0
		select @CurrentPrice = Price from SkinPrice where SkinId = @Id order by Id desc 
		if(@CurrentPrice = 0 or @CurrentPrice != @Price)
		begin
			insert SkinPrice(SkinId,Price,CreatedDate) values (@Id,@Price,GETDATE())
		end
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_skincategory]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_create_skincategory]
@Id int,
@Name nvarchar(500),
@Image nvarchar(500),
@Description nvarchar(MAX),
@SkinsSold int
as
begin
 if @Id = 0
	begin
		insert into SkinCategory(Name,Image,Description,SkinsSold) values (@Name,@Image,@Description,@SkinsSold)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update SkinCategory
		set Name = @Name,
			Image = @Image,
			Description = @Description,
			SkinsSold = @SkinsSold
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_slide]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_create_slide]
@Id int,
@Image nvarchar(500),
@DisplayOrder int,
@Link nvarchar(255),
@Description nvarchar(255),
@Status bit
as
begin
 if @Id = 0
	begin
		insert into Slide(Image,DisplayOrder,Link,Description,Status) values (@Image,@DisplayOrder,@Link,@Description,@Status)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update Slide
		set Image = @Image,
			DisplayOrder = @DisplayOrder,
			Link = @Link,
			Description = @Description,
			Status = @Status
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_step]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_create_step]
@Id int,
@Content nvarchar(max),
@Status bit
as
begin
 if @Id = 0
	begin
		insert into Step(Content,Status) values (@Content,@Status)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update Step
		set Content = @Content,
			Status = @Status
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_create_transactiontype]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_create_transactiontype]
@Id int,
@Name nvarchar(500)
as
begin
 if @Id = 0
	begin
		insert into TransactionCategoryType(Name) values (@Name)
		select iif(@@ROWCOUNT>0,1,0)
	end

 else
	begin
	    update TransactionCategoryType
		set Name = @Name
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_change_status_ProductTransaction_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_change_status_ProductTransaction_byId]
@Id int,
@Status int
as
begin
	 if @Id = 0
	begin
		select 0
	end

 else
	begin
	    update ProductTransaction
		set
			Status = @Status
		where Id = @Id
		select iif(@@ROWCOUNT>0,1,0)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_charge]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_charge]
@Id int,
@NCCId int,
@ValueId int,
@Code nvarchar(255),
@Seri nvarchar(255),
@UserId int
as
begin
	insert into NaptheTransaction(NCCId,GiaTriTheId,MaThe,Serial,UserId,CreatedDate,Status)
	values (@NCCId,@ValueId,@Code,@Seri,@UserId,GETDATE(),0)


	declare @telco nvarchar(100) = '',
			@amount decimal(18,0) = 0,
			@request_id int

	select top 1 @telco = NCC.Name from NCC
	where NCC.Id = @NCCId

	select top 1 @amount = gt.Value from GiaTriThe gt
	where gt.Id  = @ValueId

	select top 1 @request_id = Id from NaptheTransaction
	order by Id desc
	select @telco as telco,@amount as amount,@request_id as request_id ,@Code as code,@Seri as serial
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_check_delete_productcategory]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_check_delete_productcategory]
@Id int
as
begin
  declare @Check int
  select @Check = COUNT(Id) from Product
  where CategoryId = @Id
  select @Check = 0
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_blog]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_blog]
@Id int
as
begin
	delete Blog
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_blogtype]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_blogtype]
@Id int
as
begin
	delete BlogType
	where BlogTypeId = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_cardadmin]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_cardadmin]
@Id int
as
begin
	delete CardAdmin
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_client_user_login]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_delete_client_user_login]
@Id int
as
begin
	delete [dbo].[User]
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_GiaTriThe]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_GiaTriThe]
@Id int
as
begin
	delete GiaTriThe
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_login]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_login]
@Id int
as
begin
	delete Account
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_MasterData]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_delete_MasterData]
@Id int
as
begin
	delete MasterData
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_NCC]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_NCC]
@Id int
as
begin
	delete NCC
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_notification]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_notification]
@Id int
as
begin
	delete Notification
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_product]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_delete_product]
@Id int
as 
begin
	delete Product
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0)
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_productcategory]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_delete_productcategory]
@Id int
as
begin
	delete ProductCategory
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0)
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_ProductTransaction]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_delete_ProductTransaction]
@Id int
as
begin
	delete [dbo].ProductTransaction
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_skin]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_skin]
@Id int
as
begin
	delete Skin
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_skincategory]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_skincategory]
@Id int
as
begin
	delete SkinCategory
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_slide]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_slide]
@Id int
as
begin
	delete Slide
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_step]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[shopgame_delete_step]
@Id int
as
begin
	delete step
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_delete_transactiontype]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_delete_transactiontype]
@Id int
as
begin
	delete TransactionCategoryType
	where Id = @Id
	select iif(@@ROWCOUNT>0,1,0) 
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_account]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_get_account]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Account
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (UserName like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select Id,UserName,HashedPassword from Account
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_banner]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[shopgame_get_banner]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where status = 1 and 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from slide
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select 
		* from slide
		' + @whereSql + '
		order by [DisplayOrder]
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_blog]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_blog]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Blog
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (b.Name like N''%'+@Search+'%'' or bt.Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		select b.*,bt.Name BlogTypeName from Blog b
		join Blogtype bt on b.BlogTypeId = bt.BlogTypeId
		' + @whereSql + '
		order by b.Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_blog_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_blog_byId]
@Id int
as
begin
	select bt.Name,b.* from Blog b
	join BlogType bt on b.BlogTypeId = bt.BlogTypeId
	where b.Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_blogtype]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_blogtype]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Account
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		select BlogTypeId Id,Name from BlogType
		' + @whereSql + '
		order by BlogTypeId
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_blogtype_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_blogtype_byId]
@Id int
as
begin
	select BlogTypeId Id,Name from BlogType
	where BlogTypeId = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_cardadmin]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_cardadmin]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from CardAdmin
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (CardNumber like N''%'+@Search+'%'' 
								or CardType like N''%'+@Search+'%''
								or CardHolder like N''%'+@Search+'%''
								or CardBranch like N''%'+@Search+'%''
								or BankName like N''%'+@Search+'%'')'
		end
	set @sql = N'
		select * from CardAdmin
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_cardadmin_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_cardadmin_byId]
@Id int
as
begin
	select * from CardAdmin
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_client_user_login_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_client_user_login_byId]
@Id int
as
begin
	select * from  [dbo].[User]
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_GiaTriThe]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[shopgame_get_GiaTriThe]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from slide
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Value like N''%'+@Search+'%'' or Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select 
		* from GiaTriThe
		' + @whereSql + '
		order by [Value]
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_GiaTriThe_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_GiaTriThe_byId]
@Id int
as
begin
	select * from GiaTriThe
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_list_product_byProductCategoryId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[shopgame_get_list_product_byProductCategoryId]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out,
@ProductCategoryId int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Product
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (p.Name like N''%'+@Search+'%'' or p.Code like N''%'+@Search+'%'' or p.Rank like N''%'+@Search+'%'' 
								or p.SoTuong like N''%'+@Search+'%'' or p.SoTrangPhuc like N''%'+@Search+'%'' 
								or p.Id like N''%'+@Search+'%'' or pr.price like N''%'+@Search+'%'' 
								or p.LoaiTaiKhoan like N''%'+@Search+'%'' or p.DangKy like N''%'+@Search+'%''
								or p.VIP like N''%'+@Search+'%'' or p.AccUserName like N''%'+@Search+'%'')'
		end
	if @ProductCategoryId > 0
		begin
			set @whereSql += N'and p.CategoryId ='+ CONVERT(varchar, @ProductCategoryId)+''
		end
		print @WhereSql
	set @sql = N'
		select p.*,pc.Name as CategoryName,pr.Price,pr.CreatedDate from Product p
			join ProductCategory pc on p.CategoryId = pc.Id
			outer apply(
			select top 1 * from ProductPrice pri
			where pri.ProductId = p.Id
			order by pri.CreatedDate desc
			) as pr
		' + @whereSql + '
		order by p.Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int, @ProductCategoryId int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount, @ProductCategoryId
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_list_product_byProductId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_list_product_byProductId]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out,
@ProductCategoryId int 
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Product
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (p.Name like N''%'+@Search+'%'' or p.Code like N''%'+@Search+'%'' or p.Rank like N''%'+@Search+'%'' 
								or p.SoTuong like N''%'+@Search+'%'' or p.SoTrangPhuc like N''%'+@Search+'%'' 
								or p.LoaiTaiKhoan like N''%'+@Search+'%'' or p.DangKy like N''%'+@Search+'%''
								or p.VIP like N''%'+@Search+'%'' or p.AccUserName like N''%'+@Search+'%'')'
		end
	if @ProductCategoryId > 0
		begin
			set @whereSql += N'and p.CategoryId ='+ CONVERT(varchar, @ProductCategoryId)+''
		end
		print @WhereSql
	set @sql = N'
		select p.*,pc.Name as CategoryName, pr.Price as Price from Product p
		join ProductCategory pc on p.CategoryId = pc.Id
		join ProductPrice pr on  pr.ProductId = (select top 1 ProductId from ProductPrice pri where pri.ProductId = p.Id  order by Id desc)
		' + @whereSql + '
		order by p.Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int, @ProductCategoryId int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount, @ProductCategoryId
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_list_ProductTransaction]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_list_ProductTransaction]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from slide
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (pt.Name like N''%'+@Search+'%'' 
									or pt.IdGame like N''%'+@Search+'%'' 
									or pt.AccUserName like N''%'+@Search+'%'' 
									or u.UserName like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select pt.*, u.UserName from ProductTransaction pt 
		join  [User] u on pt.userid = u.id 
		' + @whereSql + '
		order by CreatedDate DESC  
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_list_ProductTransaction_by_UserId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_list_ProductTransaction_by_UserId]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out,
@UserId int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Product
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%''
									or Price like N''%'+@Search+'%''
									or AccUserName like N''%'+@Search+'%'')'
		end
	if @UserId > 0
		begin
			set @whereSql += N'and UserId ='+ CONVERT(varchar, @UserId)+''
		end
		print @WhereSql
	set @sql = N'
		select *from ProductTransaction
		' + @whereSql + '
		order by Id desc
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int, @UserId int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount, @UserId
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_list_skin_bySkinCategoryId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[shopgame_get_list_skin_bySkinCategoryId]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out,
@SkinCategoryId int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Product
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (s.Name like N''%'+@Search+'%'' 
							or pk.Price like N''%'+@Search+'%''
							)'
		end
	if @SkinCategoryId > 0
		begin
			set @whereSql += N'and s.SkinCategoryId ='+ CONVERT(varchar, @SkinCategoryId)+''
		end
		print @WhereSql
	set @sql = N'
		select s.*,sc.Name as SkinCategoryName, pk.price from Skin s
		join SkinCategory sc on s.SkinCategoryId = sc.Id
		outer apply( select top 1 * from SkinPrice pri where pri.SkinId = s.id  order by Id desc)
		as pk
		' + @whereSql + '
		order by s.Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int, @SkinCategoryId int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount, @SkinCategoryId
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_login_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_login_byId]
@Id int
as
begin
	select * from Account
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_masterdata]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_masterdata]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from masterdata
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (name like N''%'+@Search+'%'' )'
		end
	set @sql = N'
		select * from masterdata
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_masterdata_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_masterdata_byId]
@Id int
as
begin
	select * from masterdata
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_NapTheTransaction]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_NapTheTransaction]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from [dbo].[User]
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (n.Mathe like N''%'+@Search+'%''
									or n.Mathe like N''%'+@Search+'%''
									or n.serial like N''%'+@Search+'%''
									or ncc.name like N''%'+@Search+'%''
									or gtt.value like N''%'+@Search+'%''
									or gtt.name like N''%'+@Search+'%''
			)'
		end
	set @sql = N'
		
		select n.*,ncc.Name as [TenNCC],gtt.name as [TenGTT] , gtt.[Value],gtt.[Percent] from [dbo].NapTheTransaction n
		join NCC ncc on n.NCCId = ncc.Id
		join GiaTriThe gtt on n.GiaTriTheId = gtt.id
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_NapTheTransaction_by_UserId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_NapTheTransaction_by_UserId]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out,
@UserId int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from [dbo].[User]
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (n.Mathe like N''%'+@Search+'%''
									or n.Mathe like N''%'+@Search+'%''
									or n.serial like N''%'+@Search+'%''
									or ncc.name like N''%'+@Search+'%''
									or gtt.value like N''%'+@Search+'%''
									or gtt.name like N''%'+@Search+'%''
			)'
		end
if @UserId > 0
		begin
			set @whereSql += N'and UserId ='+ CONVERT(varchar, @UserId)+''
		end

	set @sql = N'
		
		select n.*,ncc.Name as [TenNCC],gtt.name as [TenGTT] , gtt.[Value],gtt.[Percent] from [dbo].NapTheTransaction n
		join NCC ncc on n.NCCId = ncc.Id
		join GiaTriThe gtt on n.GiaTriTheId = gtt.id
		' + @whereSql + '
		order by Id desc
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int, @UserId int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount, @UserId
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_NCC]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[shopgame_get_NCC]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from slide
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select 
		* from NCC
		' + @whereSql + '
		order by [Id]
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_NCC_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_NCC_byId]
@Id int
as
begin
	select * from NCC
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_notification]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_notification]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Notification
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Content like N''%'+@Search+'%'' )'
		end
	set @sql = N'
		select * from Notification
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_notification_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_notification_byId]
@Id int
as
begin
	select * from Notification
	where Id = @Id
end


-- skin category

GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_product]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_product]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1 and pr.Price is not null ',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Product
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (p.Name like N''%'+@Search+'%'' 
								or p.Code like N''%'+@Search+'%'' 
								or p.Rank like N''%'+@Search+'%'' 
								or p.SoTuong like N''%'+@Search+'%'' 
								or p.SoTrangPhuc like N''%'+@Search+'%'' 
								or p.AccUserName like N''%'+@Search+'%''
								)'
		end
	set @sql = N'
		
			select p.*,pc.Name as CategoryName,pr.Price,pr.CreatedDate  from Product p
			join ProductCategory pc on p.CategoryId = pc.Id
			outer apply(
			select top 1 * from ProductPrice pri
			where pri.ProductId = p.Id
			order by pri.CreatedDate desc
			) as pr
		' + @whereSql + '
		order by p.Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_product_transaction]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_product_transaction]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from slide
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		select  pt.*,u.UserName as TaiKhoan  from [dbo].[ProductTransaction] pt 
		join [dbo].[User] u on pt.UserId = u.id 
		' + @whereSql + '
		order by [CreatedDate]
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_productcategory]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_productcategory]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from ProductCategory
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (p.Name like N''%'+@Search+'%''
									or pc.Name like N''%'+@Search+'%''	)'
		end
	set @sql = N'
		select pc.Id,pc.Name,pc.Image,pc.Description,  COUNT(p.CategoryId) as [Count]  from ProductCategory pc
		join Product p on pc.Id = p.CategoryId
		' + @whereSql + '
		group by  pc.Id,pc.Name,pc.Image,pc.Description, p.CategoryId
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_productImage]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_productImage]
@Id int
as begin
	select * from ProductImage
	where ProductId = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_ProductTransaction]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_ProductTransaction]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from [dbo].[User]
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select * from [dbo].ProductTransaction
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_ProductTransaction_by_id]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_get_ProductTransaction_by_id]
@Id int
as
begin
	select * from ProductTransaction
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_ProductTransaction_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_ProductTransaction_byId]
@Id int
as
begin
	select * from ProductTransaction
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_skin]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_skin]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Skin
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (s.Name like N''%'+@Search+'%'' or sc.Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		select s.*,sc.Name as SkinCategoryName,spr.Price from Skin s
		join SkinCategory sc on s.SkinCategoryId = sc.Id
		outer apply(
			select top 1 * from SkinPrice pri
			where pri.SkinId = s.Id
			order by pri.CreatedDate desc
			) as spr
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_skin_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_skin_byId]
@Id int
as
begin
	select s.*,sc.Name as SkinCategoryName, pk.price  from Skin s
		join SkinCategory sc on s.SkinCategoryId = sc.Id
		outer apply( select top 1 * from SkinPrice pri where pri.SkinId = s.Id  order by Id desc)
		as pk
		where s.id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_skincategory]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_skincategory]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from SkinCategory
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (sk.Name like N''%'+@Search+'%''
									or	s.Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		select sk.Id,sk.Name,sk.Image,sk.Description, count(s.SkinCategoryId) as [Count] from SkinCategory sk
		join Skin s on sk.id = s.SkinCategoryId
		' + @whereSql + '
		group by sk.Id,sk.Name,sk.Image,sk.Description, s.SkinCategoryId
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_skincategory_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_skincategory_byId]
@Id int
as
begin
	select Id,Name,Image,Description,SkinsSold from SkinCategory
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_slide]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_slide]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from Slide
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Link like N''%'+@Search+'%'')'
		end
	set @sql = N'
		select * from Slide
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_slide_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_get_slide_byId]
@Id int
as
begin
	select * from Slide
	where Id = @Id
end



-- transaction category
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_Step]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_Step]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from slide
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select 
		* from step
		' + @whereSql + '
		order by [Id]
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_step_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_get_step_byId]
@Id int
as
begin
	select * from step
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_step_client]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[shopgame_get_step_client]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where status = 1 and 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from slide
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select 
		* from step
		' + @whereSql + '
		order by [Id]
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_transactiontype]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_transactiontype]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from TransactionCategoryType
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (Name like N''%'+@Search+'%'')'
		end
	set @sql = N'
		select Id,Name from TransactionCategoryType
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end


GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_transactiontype_byId]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_get_transactiontype_byId]
@Id int
as
begin
	select Id,Name from TransactionCategoryType
	where Id = @Id
end



GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_user]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_user]
@BaseParam BaseParamType readonly,
@Totals int  out,
@PageCount int out
as
begin
	declare @Search nvarchar(max),
			@PageSize int,
			@PageNumber int

	declare @whereSql nvarchar(max) = 'where 1=1',
			@sql nvarchar(max) = ''
	
	select top 1 @Search = Search,@PageSize = PageSize,@PageNumber = PageNumber from @BaseParam
	select @Totals = count(Id) from [dbo].[User]
	set @PageCount = iif(@Totals % @PageSize=0,@Totals / @PageSize,@Totals / @PageSize+1)
	if ISNULL(@Search,'') != ''
		begin
			set @whereSql += N'and (UserName like N''%'+@Search+'%'' or
									Email like N''%'+@Search+'%'')'
		end
	set @sql = N'
		
		select Id,UserName,HashedPassword,Name,Email,Balance,Phone,CreatedDate from [dbo].[User]
		' + @whereSql + '
		order by Id
		offset (@PageSize*(@PageNumber-1)) rows fetch next @PageSize rows only'
	print @Sql
	declare @Param nvarchar(max) = N'@Search nvarchar(max),@PageSize int,@PageNumber int,@Totals int,@PageCount int'
	EXEC sp_executesql @Sql,@Param,@Search,@PageSize,@PageNumber,@Totals,@PageCount
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_get_user_by_email]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_get_user_by_email]
@Email nvarchar(255)
as
begin
	select *  from [User]
	where Email = @Email
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_getbyId_product]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shopgame_getbyId_product]
@Id int
as
begin
	select p.*,pc.Name as CategoryName,pr.Price,pr.CreatedDate from Product p
			join ProductCategory pc on p.CategoryId = pc.Id
			outer apply(
			select top 1 * from ProductPrice pri
			where pri.ProductId = p.Id
			order by pri.CreatedDate desc
			) as pr
	where p.Id = @Id
end

GO
/****** Object:  StoredProcedure [dbo].[shopgame_getbyid_productcategory]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shopgame_getbyid_productcategory]
@Id int
as
begin
	select * from ProductCategory
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[shopgame_login]    Script Date: 17/12/2021 15:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[shopgame_login]
@UserName nvarchar(255),
@HashedPassword nvarchar(255)
as
begin
	select * from Account
	where UserName = @UserName and HashedPassword = @HashedPassword
end
GO
