<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Thông tin người dùng</h5>
        <p>@User.Identity.Name</p>
        <hr />
        @using (Html.BeginForm("LogOut", "Admin", FormMethod.Post, new { id = "logoutForm1" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm1').submit()">Đăng xuất</a>
        }
    </div>
</aside>
