
@{
    ViewData["Title"] = "Đổi thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="change-information" class="py-5">
    <div class="container bg-container p-3">
        <div class="box-change-client">
            <div class="col-md-12">
                <!-- Begin: Title 1 component -->
                <div class="box-change-header">
                    <h3 class="">ĐỔI THÔNG TIN</h3>
                    <div class="c-line-left c-theme-bg"></div>
                </div>
                <!-- End-->
                <div class="box-change-content">
                    <p>VUI LÒNG ĐỔI THÔNG TIN SAU KHI MUA. MỌI MẤT MÁT CHÚNG TÔI KHÔNG CHỊU TRÁCH NHIỆM</p>

                    <p>
                        <span style="color:#c0392b">
                            <u>
                                <strong>
                                    HƯỚNG DẪN BẢO MẬT TÀI KHOẢN LIÊN MINH TỐC CHIẾN
                                </strong>
                            </u>
                        </span>
                    </p>

                    <p>
                        VUI LÒNG TRUY CẬP VÀO&nbsp;<a href="https://wildrift.leagueoflegends.com/vi-vn/">https://wildrift.leagueoflegends.com/vi-vn/</a>&nbsp;ĐỂ ĐĂNG
                        KÝ THÔNG TIN VÀ ĐỔI MẬT KHẨU.
                    </p>

                    


                    <p>Tiến hành đăng nhập và đổi mật khẩu.</p>

                    <p>
                        <span style="color:#c0392b">
                            <u>
                                <strong>
                                    CHÚ Ý : KHÔNG CHỊU TRÁCH NHIỆM ĐỐI VỚI ACC LIÊN MINH TỐC CHIẾN
                                    TRẮNG THÔNG TIN.
                                </strong>
                            </u>
                        </span>
                    </p>

                    <p>
                        <strong>
                         
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>