* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #efeaea;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#32c5d2;
}
li {
    list-style: none;
}

body {
    font-family: 'Open Sans';
    background: #000;
    /*background: url(../images/background.png);*/
    background-attachment: fixed;
    color: #666 !important;
    background-size: 100%;
}
/* menu */
.glyphicon {
    margin-right: 4px !important;
    color: #fff;
        /*override*/
}
.bg-container {
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background:#fff;
}
/* slick */
.slick-next {
    left: 92%;
}
.slick-slide {
    margin: 0;
}
.slick-prev {
    left: 20px;
    z-index: 9;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 40px;
    line-height: 1;
    color: #fff;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    content: "‹";
}

[dir="rtl"] .slick-prev:before {
    content: "›";
}

[dir="rtl"] .slick-next {
    left: -10px;
    top: 70px;
    right: auto;
}

.slick-next:before {
    content: "›";
}
.slick-dots {
    position: absolute;
    bottom: -4px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dotted.slick-slider {
    margin-bottom: 0.5rem;
}
[dir="rtl"] .slick-next:before {
    content: "‹";
}
/* common */
.mb-15 {
    margin-bottom: 15px;
    display: block;
    width: 100%;
}
.modal-dialog {
    max-width: 600px;
}
.n-box-btn-nav{
    width: 50%;
    text-align: center;
}
.n-btn-nav{
    padding: 1rem 0;
    border-radius:0 !important ;
    background:#cfdae4;
}
#atmModal .active{
    background:#32c5d2 !important;
}
#atmModal table{
    margin-bottom: 0;
}
.n-btn-nav:hover{
    background:#6d8fad;
}
.box-atm-content{
    background: #fff;
    padding-top: 1rem;
}
.n-button {
    color: #dc3545;
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    font-weight: bold;
}
    .n-button:hover {
        color: #35d4dc;
    }
.n-button-1 {
    display: inline-block;
    width: 136px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #dc3545;
    border: none;
    outline: 0;
    /*background: url(../images/bgbtn.png) no-repeat center;*/
    background-color:white;
}
    .n-button-1:hover {
        color: #35d4dc !important;
    }
 .c-layout-go2top {
    display: inline-block;
    position: fixed;
    bottom: 100px;
    right: 10px;
    cursor: pointer;
    z-index: 200;
}
.button-price-spin{
    border: 2px solid red;
    padding: 5px 15px;
    width: 120px;
    color: red;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.c-layout-go2top > i {
    opacity: 1;
    color: #f00;
    font-size: 38px;
    font-weight: 300;
} 
.box-content {
    height: auto;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    background: #1f2228;
    border: 1px solid #30343c;
}
.box-body .box-body-content{
    padding: 15px;
    max-height: 175px;
    min-height: 125px;
    overflow: hidden;
}
.content-header h3{
    text-align: center;
    font-weight: bold;
}

 .n-line-center {
    width: 80px;
    height: 3px;
    background-color: #32c5d2;
    margin: 0 auto 30px auto;
}

/* menu */
#menu .navbar-toggler {
    background-color: #efeaea !important;
}

#menu {
    background: #fff;
    width: 100%;
}

.menu-fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

#menu .sa-logo {
    position: absolute;
    top: -24px;
    left: 75px;
    width: 160px;
}

a.nav-link {
    color: #efeaea !important;
}

#menu .sa-logo img {
    width: 100%;
}

#menu .sa-menu li a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: white !important;
    padding: 0 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background: #dc3545;
    margin: 2px;
}

#menu ul li:hover a {
    color: #35d4dc !important;
    /*background-color: #35d4dc;*/
}

#slider {
    padding: 20px 0;
}

#slider .container {
    /*background: #363636;*/
    background:#fff;
}

.slider-form {
    background: #1d1d1d;
    padding: 1rem 1rem 0;
    min-height: 331px;
}


/* slider */
#slider .slider-header p {
    color: #35d4dc;
    text-align: center;
    font-size: 1.5rem;
    text-overflow: uppercase;

}

#slider .slider-form .form-control {
    background: #1f2228;
    border: 1px solid #30343c;
    color: #efeaea;
}


#footer {
    background: rgba(0, 0, 0, 0.7);
}

/* hot-service */
#hot-service{

}
/* login */
.login-box-body {
    max-width: 400px;
    margin: 7% auto;
}
.box-login-client {
    padding: 20px;
    border: 1px solid #cccccc;
}
/* change-information */
.box-change-header h3{
    font-weight: bold;
}
.box-change-content{

}
.box-change-content p{
    color:#000;
}
    .box-change-content a {
        color: #007bff;
    }
.box-buy-card-client{
    min-height: 450px;
}
.c-line-left {
    width: 30px;
    height: 3px;
    background-color: #32c5d2;
    margin: 0 0 30px 0;
}
/* blog */
.box-blog-image{
    max-width: 222px;
    max-height: 148px;
}
.box-blog-image img{
    height: 148px;
}
.box-blog-content a {
    color: #dc3545;
}
.box-blog-content a:hover{
    color: #32c5d2;
}
.box-blog-menu > li:before {
    color: #32c5d2;
}
.box-blog-menu a {
    color: #dc3545;
}
.box-blog-menu > li:before {
    color: #5c6873;
    content: "\f105";
    font-family: FontAwesome;
    font-weight: 100;
    width: 12px;
    height: 12px;
    font-size: 14px;
    float: left;
    margin: 2px 5px 0 0;
}
.box-blog-menu  > li {
    list-style: none;
    padding: 7px 0;
    border-bottom: 1px solid #313131;
}
/* box-blog-detail */
.box-detail-blog-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.box-product-list{
    border: 1px solid #30343c;
    padding: 1px;
    background: #1f2228;
    margin-bottom: 1rem
}
.box-product-list-content{
    margin-top: 0.8rem;
    min-height: 6rem;
    font-size: 0.9rem;
}
.box-product-list-image-id {
    position: absolute;
    padding: 2px 7px;
    background-color: #a94442;
    top: 5px;
    left: 0;
    color: #fff;
    font-weight: 700;
    font-size: 0.9rem;
}
.box-product-list-bottom{
    padding-bottom: 0.5rem;
}
.n-content-divider {
    display: block;
    height: 2px;
    background: #ffffff;
    margin: 20px 0;
    position: relative;
}
.box-product-detail-image{
   padding: 1rem 0;
}
.box-product-detail-image img{
    display: block;
    margin: 0 auto;
    width: 80%;
}
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    #menu .sa-logo {
        position: absolute;
        top: -32px;
        left: 13px;
        width: 227px;
    }

    #menu .sa-menu {
        margin: 0px 0 0 250px;
    }
    #menu div#navbarTogglerDemo01 {
        padding-top: 1.5rem;
    }
}
/*sửa*/

    #list-game .content-header h3, #list-service .content-header h3 {
        color: #35dcd4;
    }
.box-body .box-body-content p {
    color: #35dcd4;
}
.box-buy-card-header h3 {
    color: #35dcd4;

}
#page-content h4, .box-change-header h4 {
    color: #35d4dc;
}
.col-6.text-right:last-child a {
    color: #dc3545;
}

h3, h4, h2 {
    color: #000;
}
.n-blue-color {
    color: #35d4dc;
}
.input-group-text {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
#product-detail-header div {
    color: #35d4dc;
}
#product-detail-header p {

}
@media (min-width: 1200px) {
}


@media (max-width: 952px) {}

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}