<div class="col-lg-3 d-none d-lg-block pt-5">
    <div class="box-change-header">
        <h4 class="" style="border-left: 4px solid #3498db;padding-left: 20px">
            MENU TÀI KHOẢN
        </h4>
    </div>
    <div class="">
        <ul class="box-blog-menu">
            <li><a href="/user/profile">Thông tin tài khoản</a></li>
            <li><a href="/TranLog">Lịch sử giao dịch</a></li>
        </ul>
    </div>
    <div class="box-change-header">
        <h4 class="" style="border-left: 4px solid #3498db;padding-left: 20px">
            MENU GIAO DỊCH
        </h4>
    </div>
    <div class="">
        <ul class="box-blog-menu">
            <li><a href="/napthe">Nạp thẻ tự động</a></li>
            <li><a href="/napthe/deposithistory">Lịch sử nạp thẻ</a></li>
            <li><a href="/TranLog/acc">Tài khoản đã mua</a></li>
            <li><a href="/buycard/log">Thẻ cào đã mua</a></li>
        </ul>
    </div>
</div>
