@model ShopGame.Service.Model.ShopGameResultModel<ShopGame.Service.Model.ViewModel.BlogViewTypeModel>
@{
    var data = Model.Results;
    var pageSize = Model.PageSize;
    var pageNumber = Model.PageNumber;
    var pageCount = Model.PageCount;
}
@* select loại blog *@

<div class="col-lg-3 d-none d-lg-block">
    <div class="box-change-header">
        <h4 class="">DANH MỤC</h4>
        <div class="c-line-left c-theme-bg"></div>
    </div>
    <div class="">
        <ul class="box-blog-menu">
            <li><a href="/blog">Tất cả</a></li>
            @foreach (var item in data)
            {
                <li><a href="/blog?search=@item.Name">@item.Name</a></li>
            }
            @*<li><a href="/blog/huong-dan">Hướng Dẫn (1)</a></li>
            <li><a href="/blog/tin-game">Tin Game (2)</a></li>*@
        </ul>
    </div>
</div>