.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
}
.content-wrapper {
    transition: auto;
}

.home-page .controller-fluid {
    max-width: 99%;
}

a.btn-green.btn-tools.text-nowrap.btnAdd {
    line-height: 30px;
}
/*.home-page .*//**/