
@{
    ViewData["Title"] = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @*<script>
        function loginFB() {
            $.ajax({
                url: '/Login/Facebook',
                type: 'get',
                dataType: 'html',
                data: {
                    baseParam: submitData
                },
                beforeSend: function () {
                },
                success: function (res) {
                    console.log(res)
                },
                error: function (error) {
                    console.log(error);
                },
            })
        }
    </script>*@
}
<section id="login-client" class="py-5">
    <div class="container bg-container p-3">
        <div class="box-login-client">
            <div class="login-box-body">

                <div class="login-box-body-header text-center pb-4">
                    <h4 >
                        Đăng nhập hệ thống
                    </h4>
                </div>
                <form id="login-client">
                    <div class="form-group">
                        <input class="form-control submit-login-client" id="username" name="" type="text" placeholder="Tài khoản">
                    </div>
                    <div class="form-group">
                        <input class="form-control submit-login-client" id="password" name="" type="password" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <input type="checkbox"> <label for="">Ghi nhớ</label>
                            </div>
                            <div class="col-6 text-right">
                                <a href="/ForgotPassword">Quên mật khẩu?</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg btn-block btn-client-login">Đăng Nhập</button>
                    </div>
                </form>
                <p class="text-center">
                    - HOẶC -
                </p>
                <div>
                    <div class="row">
                        
                     @*   <div class="col-6 text-right">
                            <a asp-area="" asp-controller="Auth" asp-action="facebook" class="btn btn-primary">Login FB</a>
                            <a href="/login/facebook" class="btn btn-primary">Login FB</a>
                        </div>*@
                        <div class="col-12 ">
                            <div class="text-center">
                            <a href="~/Register/Index" class="btn btn-secondary ">Tạo tài khoản</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
