@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session.GetString("User");
    var user = new NidasShoes.Service.Model.UserModel();
    if (session != null)
    {
        user = JsonConvert.DeserializeObject<NidasShoes.Service.Model.UserModel>(session);
    }
}
<style>
    #main-menu p {
        font-size: 0.9rem;
    }
</style>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Admin" class="brand-link">
        <img src="/Admin/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Quản trị hệ thống</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/Admin/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info   w-100  ">
                @if (user != null)
                {
                    <a href="#" class="d-block">@user.Name</a>
                }
                @using (Html.BeginForm("LogOut", "Admin", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <a href="/Admin/Authentication/logout" class="right">
                        <span class="right badge badge-danger">Đăng xuất</span>
                    </a>
                }
            </div>

        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul id="main-menu" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item ">
                    <a href="/Admin" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Bảng điều khiển
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link">
                        <i class="far fa-building nav-icon"></i>
                        <p>
                            Quản trị hệ thống
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Shop" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Quản lý thông tin cửa hàng
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Slide" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Quản lý slide
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link">
                        <i class="far fa-building nav-icon"></i>
                        <p>
                            Quản lý danh mục
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/User" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Quản lý người dùng
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/ProductCategory" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Quản lý danh mục sản phẩm
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Product" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Quản lý sản phẩm
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/ProductSize" class="nav-link">
                                <i class=" nav-icon far fa-building"></i>
                                <p>
                                    Size sản phẩm
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/ProductColor" class="nav-link">
                                <i class=" nav-icon far fa-building"></i>
                                <p>
                                    Màu sản phẩm
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Discount" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Quản lý khuyến mãi
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Supply" class="nav-link">
                                <i class=" nav-icon far fa-building"></i>
                                <p>
                                    Quản lý danh mục nhà cung cấp
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/ProductDetail" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Quản lý chi tiết sản phẩm
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item ">
                    <a href="" class="nav-link">
                        <i class="far fa-building nav-icon"></i>
                        <p>
                            Quản lý phiếu nhập kho
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/receipt/create" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Lập phiếu nhập kho
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Receipt" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Danh sách phiếu nhập kho
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link">
                        <i class="far fa-building nav-icon"></i>
                        <p>
                            Quản lý đơn mua hàng
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/Admin/Order" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Đơn hàng
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link">
                        <i class="far fa-building nav-icon"></i>
                        <p>
                            Liên hệ đóng góp
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Feedback" class="nav-link">
                                <i class="fas fa-bars nav-icon"></i>
                                <p>
                                    Danh sách phản hồi
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

@* <li class="nav-item">
                    <a href="/Admin/masterdata" class="nav-link">
                        <i class="fas fa-bars nav-icon"></i>
                        <p>
                            Master data
                        </p>
                    </a>
                </li>*@

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
