@model ShopGame.Service.Model.AccountModel
<div class="collapse border show objInfor">
    <form class="form-input">
        <div class="alert-danger mb-3 admins-h2 btn-red">
            THÔNG TIN VỀ NGƯỜI QUẢN TRỊ
        </div>
        <div class="form-group mb-3" hidden>
            <input type="number" name="Id" class="form-control" id="Id" value="@Model.Id">
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Tên đăng nhập</label>
            <input type="text" name="UserName" class="form-control validation" id="name" value="@Model.UserName">
            <div class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Mật khẩu</label>
            <input type="password" name="HashedPassword" class="form-control validation" value="">
            <div class="text-danger"></div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right mr-0 pr-0 mt-1 mb-0 modal-footer">
                <button type="button" class="btn btn btn-red btnCancel" onclick="RefreshForm()"><i class="fas fa-reply-all"></i> Nhập lại</button>
                <button type="button" class="btn btn-green btnSave" data-id="0" onclick="AddOrUpdate('/Admin/Home/AddOrUpdate')"> <i class="far fa-save"></i> Ghi lại</button>
            </div>
        </div>
    </form>
</div>
