@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
	<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="index.html">Home</a></span> / <span>About</span></p>
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-about">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-sm-6 mb-3">
						<div class="video colorlib-video" style="background-image: url(images/about.jpg);">
							<a href="https://vimeo.com/320214019" class="popup-vimeo"><i class="icon-play3"></i></a>
							<div class="overlay"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about-wrap">
							<h2>NIDAS cửa hàng thương mại điện tử hàng đầu trên toàn cầu</h2>
							<p>Big Oxmox khuyên cô không nên làm như vậy, vì có hàng ngàn Dấu phẩy xấu, Dấu hỏi hoang dã và Semikoli ranh ma, nhưng Little Blind Text không nghe. Cô đóng gói bảy Versalia của mình, đặt ban đầu của cô vào thắt lưng và tự mình lên đường.</p>
							<p>Khi đến những ngọn đồi đầu tiên của Dãy núi Italic, cô đã có cái nhìn cuối cùng về đường chân trời của Bookmarksgrove quê hương cô, dòng tiêu đề của Làng Alphabet và dòng phụ trên con đường của riêng cô, Line Lane. Đáng tiếc, một câu hỏi thần thoại lướt qua má cô, rồi cô tiếp tục đi.</p>
						</div>
					</div>
				</div>
			</div>
		</div>