@model ShopGame.Service.Model.ProductTransactionViewModel
<div class="collapse border show objInfor">
    <form class="form-input">
        <div class="alert-danger mb-3 admins-h2 btn-red">
            ĐỔI TRẠNG THÁI ĐANG CHUYỂN CHO NGƯỜI DÙNG
        </div>
        <div class="form-group mb-3" hidden>
            <input type="number" name="Id" class="form-control" id="Id" value="@Model.Id">
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Tên Sản Phẩm</label>
            <input type="text" name="Name" class="form-control validation" id="name" value="@Model.Name">
            <div class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">InGame</label>
            <input type="text" name="IdGame" class="form-control validation" value="@Model.IdGame">
            <div class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            @*<label class="font-weight-bold mb-1">Trạng thái(Chuyển thành công nhập 1)</label>
            <input type="text" name="Status" class="form-control validation" value="@Model.Status">
            <div class="text-danger"></div>*@
            
                <label class="font-weight-bold mr-2">Trạng thái </label>
                <br />
                <input type="radio" name="Status" value="0" id="s1" @if (Model.Status == 0) { <text> checked</text> } /><label class="ml-2 mr-1" for="s1">Đang chuyển</label>
                <input type="radio" name="Status" value="1" id="s2" @if (Model.Status == 1) { <text> checked</text> } /><label class="ml-2 mr-1" for="s2">Thành Công</label>
                <input type="radio" name="Status" value="2" id="s3" @if (Model.Status == 2) { <text> checked</text> } /><label class="ml-2" for="s3">Thất Bại</label>
           
        </div>
        <div class="row">
            <div class="col-md-12 text-right mr-0 pr-0 mt-1 mb-0 modal-footer">
                <button type="button" class="btn btn btn-red btnCancel" onclick="RefreshForm()"><i class="fas fa-reply-all"></i> Nhập lại</button>
                <button type="button" class="btn btn-green btnSave" data-id="0" onclick="AddOrUpdate('/Admin/ProductTransaction/AddOrUpdate')"> <i class="far fa-save"></i> Ghi lại</button>
            </div>
        </div>
    </form>
</div>
