
@{
    ViewData["Title"] = "Đổi Mật Khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{ 
    <script>
        $(".btn-change-password").click(function () {
            var data = $('form').serialize()
            var checkData = objectifyForm($('form').serializeArray());
            console.log(checkData);
            if (!checkData.oldPassword || !checkData.password || !checkData.rePassword) {
                toastr["warning"]("Không được để trống thông tin");
                return false;
            } if (checkData.password.length < 6) {
                toastr["warning"]("Mật khẩu phải dài hơn 6 ký tự");
                return false;
            }
            if (checkData.password != checkData.rePassword) {
                toastr["warning"]("Mật khẩu không khớp");
                return false;
            }
            $.ajax({
                url: '/user/ChangePasswordPost',
                type: 'POST',
                dataType: 'text',
                data: data,
                beforeSend: function () {
                    console.log("xử lý")
                    console.log(data)
                }
            })
                .done(function (res) {
                    console.log(res == JSON.stringify("WrongPass"))
                    if (res == JSON.stringify("WrongPass")) {
                        toastr["error"]("Mật khẩu cũ không đúng");
                        return false;
                    }
                    if (res == "true") {
                        toastr["success"]("Đổi mật khẩu thành công!");
                    }
                    else {
                        toastr["error"]("Đổi mật khẩu thất bại");
                        return false;
                    }
                        
                })
                .fail(function () {
                    toastr["error"]("Đổi mật khẩu thất bại");
                })
                .always(function () {
                    $("form").trigger("reset");
                    console.log("complete");

                });
            return false;
        });

    </script>
}
<section id="change-password" class="pt-2 pb-5">
    <div class="container bg-container pb-3">
        <div class="row">
            <partial name="_Menuleft"/>
            <div class="col-lg-9">
                <div class="text-light ">
                    <h2 class="pb-3 mt-4">ĐỔI MẬT KHẨU</h2>
                    <div class="c-line-left c-theme-bg"></div>
                </div>
                <div class="form-change-password">
                    <form action="" class="form-horizontal form-charge text-md-right">

                        <div class="form-group row">
                            <label class="col-md-3 control-label">Mật khẩu cũ </label>
                            <div class="col-md-6">
                                <input class="form-control" name="oldPassword" type="password" placeholder="Mật khẩu cũ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Mật khẩu mới </label>
                            <div class="col-md-6">
                                <input class="form-control" name="password" type="password" placeholder="Mật khẩu mới">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">Xác nhận </label>
                            <div class="col-md-6">
                                <input class="form-control" name="rePassword" type="password" placeholder="Xác nhận mật khẩu mới">
                            </div>
                        </div>
                        <div class="form-group row pt-md-3">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">
                                <button type="button" class="form-control btn btn-info btn-change-password">ĐỔI MẬT KHẨU</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

